  <main>
  <div id="mov">
  <ul data-aos="slide-up" data-aos-duration="500">
    <div id="social">
    <li ngbTooltip="Meu Linkedin">
        <a target="_blank" rel="noopener" href="https://www.linkedin.com/in/deyvson-carlos/"><i ngClass="bi bi-linkedin" data-aos="fade-in"></i></a>
    </li>

    <li ngbTooltip="Meu Repositório no Github">
        <a target="_blank" rel="noopener" href="https://github.com/deyvson-carlos"><i ngClass="bi bi-github" data-aos="fade-in"></i></a>
    </li>

    <li ngbTooltip="Meu Instagram">
        <a target="_blank" rel="noopener" href="https://www.instagram.com/dk_dayvson_/"><i ngClass="bi bi-instagram" data-aos="fade-in"></i></a>
  </li>
  <li id="baixo">
    <button id='contato' routerLink="Contato"> Contato </button>
  </li>

    </div>
  </ul>

  </div>

  </main>

  <div>
    <footer>
      <p> &copy; by - Deyvson Carlos - 2023 </p>
    </footer>
  </div>
