  <main>
  <div id="mov">
  <ul data-aos="slide-up" data-aos-duration="500">
    <div id="social">
    <li ngbTooltip="Meu Linkedin">
        <a target="_blank" rel="noopener" href="https://www.linkedin.com/in/deyvson-carlos/"><i Class="bi bi-linkedin" data-aos="fade-in"></i></a>
    </li>

    <li ngbTooltip="Meu Repositório no Github">
        <a target="_blank" rel="noopener" href="https://github.com/deyvson-carlos"><i Class="bi bi-github" data-aos="fade-in"></i></a>
    </li>

    <li ngbTooltip="Meu Instagram">
        <a target="_blank" rel="noopener" href="https://www.instagram.com/dk_dayvson_/"><i Class="bi bi-instagram" data-aos="fade-in"></i></a>
  </li>
  <li id="baixo">
    <button id='contato' routerLink="Contato"> Contato </button>
  </li>

    </div>
  </ul>

  </div>

  </main>

  <div>
    <footer>
      <p class="rodape"> 2023 &copy; Deyvson Carlos </p>
    
      <p class="api">{{ contatos.email}},  {{ contatos.tel}},  {{ contatos.name}}</p>
      
  
    </footer>
  </div>
