<main>
  <section>
    <h1>Contato</h1>
        <div id="flex">
          <i Class="bi bi-whatsapp"></i>
          <p>Whatsapp:
            <a href="https://wa.me/qr/T2QBVOUA4DLJJ1" target="_blank">(81) 98841-0062</a>
          </p>
        </div>

        <div id="flex">
          <i Class="bi bi-google"></i>
          <p>Email:
             <a href="#" target="_blank"> deyvsoncarlos92@gmail.com </a>
          </p>
        </div>

        <div id="flex">
          <i Class="bi bi-hdd fas fa-download ms-2"></i>
          <p> Curriculo :
           <a target="_blank" rel="noopener" href="https://drive.google.com/file/d/1ZmNIgl5sEklxloRlxPql-leEh4ngE3TX/view?usp=share_link">Google Drive</a>
  
          </p>
        </div>
        
  </section>

</main>
