<main>
  <section>
    <h1>Contato</h1>

        <div id="flex">
          <i class="bi bi-envelope"></i>
          <p>Email (hotmail) :
            <a href="#" target="_blank"># </a>
          </p>
        </div>

        <div id="flex">
          <i ngClass="bi bi-google"></i>
          <p>Email (gmail) :
             <a href="#" target="_blank"> # </a>
          </p>
        </div>

        <div id="flex">
          <i class="bi bi-hdd"></i>
          <p> Curriculo :
            <a target="_blank" rel="noopener" href="#">Google Drive</a>
          </p>
        </div>

           <input type="button" value="Contato" onclick="listaApiGet()">
  </section>

</main>
