<section>
  <div>
  <h1 data-aos="fade-right" data-aos-duration="500" > Sobre Mim </h1>
      <div data-aos="fade-right" data-aos-duration="2000">
    <hr>
      </div>
    <article data-aos="fade-right" data-aos-duration="1000">
      <h3> Quem sou eu?</h3>
        <p> Meu nome é <b id="deyvson">Deyvson Carlos Tenorio da Silva</b> , nasci em 19 de Setembro do ano de 1992.<br></p>

        <figure id="pc">
          <img [src]="eu02" width="440px">
          <figcaption>No dia em que me casei</figcaption>
        </figure>

        <p data-aos="fade-right"> Desde pequeno o profissional de TI dentro de mim, já falava mais alto. mesmo sendo de forma indireta.
            Quando mais Velho, na minha adolescência, Observava minha mãe (profissional de TI raiz), formatando nossos computadores, e limpando também
            ficava maravilhado com aquilo, e observava cada detalhe.
            Após meus 15/16 anos, já formatava meu computador sozinho e realizava as configurações sem auxílio, organizava da forma que "só eu entendia" segundo minha mãe.
        </p>
    </article>
      <div data-aos="fade-right" data-aos-duration="2000">
        <hr>
      </div>
    <article>
      <h3 data-aos="fade-right" data-aos-duration="1500"> Minha História</h3>
        <p data-aos="fade-right" data-aos-duration="1500"> Sobre a minha história, quero começar a falar sobre minha família, sempre foi minha mãe lutando para criar 5 filhos. Minha vida escolar sempre foi na média, as professoras gostavam de mim, pois segundo elas, eu era um aluno "exemplar" e educado, na infância sempre tive muitos amigos na escola e na rua em que morava. Comecei a trabalhar informalmente com 11 anos, por uma extrema necessidade que se passava na minha casa e para ajudar minha mãe e irmãos.
        Com o passar do tempo, fui lidando com estudo e trabalho ao mesmo tempo e no ensino médio, comecei a buscar através dos estudos melhorar de vida e tinha vários amigos na escola e gostava de estar sempre enturmado.
        Então foram se passando os anos, concluí o ensino médio e buscava por meio do vestibular entrar em uma universidade, mas devido a falta de tempo por já trabalhar em um restaurante com o expediente de noite e madrugada, se tornou ainda mais difícil para mim. Minha família priorizava o trabalho, pois meu salário também ajudava na casa. Fui deixando um pouco de lado o sonho da faculdade, mas nunca esqueci. 
        Nunca tinha tido um contato direto com o mundo da programação, no máximo o contato era indireto, como ajustando alguma coisa simples. Mas só em 2021  que a minha vida realmente mudou, pude entrar em uma faculdade no curso de Análise e desenvolvimento de sistemas, onde eu realmente me encontrei na área do desenvolvimento, e que comecei a conhecer a programação em si, seja ela de forma mais simples e também de forma mais avançada. Daí por diante busquei ainda mais me aprofundar na programação e nas linguagens que estudava. Sendo assim cada dia um novo aprendizado e busca constante em evolução no conhecimento.
        </p>

        <p data-aos="fade-right" data-aos-duration="1500"> Más nunca me orgulhei desse status, pois na época ainda isso não era visto como profissão. <br>
            Nunca tive um contato direto com o mundo da programação, no máximo o contato era indireto, (seja fazendo alguma configuração em algum jogo) como ajustando alguma coisa simples
            Más só entre 2021 e 2022 que a minha vida realmente mudou, que eu realmente me encontrei na área do desenvolvimento, e que comecei a conhecer a programação em si, seja ela de forma mais simples e primitiva como também de forma mais avançada
            </p>
        <div data-aos="fade-right" data-aos-duration="2000">
          <hr>
        </div>

    </article>

  </div>

</section>
