
  <main>
<header data-aos="fade-down" data-aos-duration="1000">
  <nav ngClass="navbar" >

    <div id="thalys">
      <a id="nome" ngbTooltip="Página Inicial" routerLink="">Deyvson Carlos Tenorio da Silva</a>
    </div>

  <ul>
    <li>
      <a data-aos="fadein" data-aos-duration="1000" placement="bottom" ngbTooltip="Quem sou Eu?" routerLink="/Sobre">Sobre</a>
      </li>
    <li>
      <a data-aos="fadein" data-aos-duration="2000" placement="bottom" ngbTooltip="O Que eu Já fiz?" routerLink="/Projetos">Projetos</a>
      </li>
    <li>
      <a data-aos="fadein" data-aos-duration="3000" placement="bottom" ngbTooltip="Qual a minha Experiência?" routerLink="/Experiência">Experiência</a>
    </li>
    <li>
      <a data-aos="fadein" data-aos-duration="3000" placement="bottom" ngbTooltip="Quais os cursos que fiz?" routerLink="/Cursos">Cursos</a>
    </li>
  </ul>


  </nav>
</header>
</main>



