<section id="bg">

  <div>
    <div class="mobi">
      <img id='eu' [src]="eu" width="500px" data-aos="zoom-in" data-aos-duration="1000">
    </div>
      <div id="formatar">
    <h1 data-aos="fade-right" data-aos-duration="1000"> Desenvolvimento Front End</h1>
    <h2 data-aos="fade-right" data-aos-duration="1000"> Animações - CSS</h2>
    <h3 data-aos="fade-right" data-aos-duration="1000">
        <p id="ang">Angular</p>
        <p>-</p>
        <p id="typ">Typescript</p>
        <p>-</p>
        <p id="js">Javascript</p>
    </h3>
      </div>
      <div id="textosmobile">
        <h1 data-aos="fade-right" data-aos-duration="1000"> Desenvolvimento Front End</h1>
        <h2 data-aos="fade-right" data-aos-duration="1000"> Animações - CSS</h2>
        <h3 data-aos="fade-right" data-aos-duration="1000">
            <p id="ang">Angular</p>
            <p>-</p>
            <p id="typ">Typescript</p>
            <p>-</p>
            <p id="js">Javascript</p>
        </h3>
        </div>

  </div>

</section>
