/* Configurações dos Textos */

h1{
  font-family: 'Bebas Neue';
  font-size: 50px;

}

h2{
  font-family: 'Raleway';
  font-size: 40px;

}

h3{
  font-family: 'Open Sans' ;
  display: flex;
  font-size: 25px;

}

#formatar{
  display: flex;
  flex-direction: column;

  position: relative;
  top: -300px;
  left: 60px;

  justify-content: center;
  align-items: center;
}

#res{
  color: #69696930;
}


/* Detalhes nos Textos Menores */
p{
  margin-left: 5px;

  transition: 0.5s;
}

p:hover{
  transform: scale(1.1);
}

#ang{
  color: #FF4747;
}

#ang:hover{
  font-weight: bold;
}

#typ{
  color: #42FFF4;
}

#typ:hover{
  font-weight: bold;
}

#js{
  color: #FFE601;
}

#js:hover{
  font-weight: bold;
}

img{
  position: relative;
  left: 50px;
  margin-left: 50px;
}


section{
  display: flex;
  flex-direction: column;

  height: 550px;

  border-radius: 50px;
}