
#obj>p{
  margin-top: -10px;
  color: #b9b9b9;
}

section{
  display:flex;
}

#grid{
  display: flex;

  gap: 15px;
}

#obj{
  display: flex;
  border-radius: 15px;

  align-items: center;

  transition: 0.5s;
}

#obj:hover{
  transform: scale(0.9);
}


#typ{
  color: #42FFF4;
  font-weight: 400;


}

#typ:hover{
  font-weight: bolder;
}

#ang{
  color: #FF4747;
  font-weight: 400;


}

#ang:hover{
  font-weight: bolder;
}

#js{
  color: #FFE601;
  font-weight: 400;


}

#js:hover{
  font-weight: bolder;
}

#siu{
  color:rgb(77, 255, 77);
  font-weight: 400;

}

#siu:hover{
  font-weight: bolder;
}

#kim{
  color: #f948f9;
  font-weight: 400;
}

#kim:hover{
  font-weight: bolder;
}

#s{
  color: #ca4eca;
}

#btndiv{
  display: flex;
  gap: 10px;
}

button{
  border-radius: 5pt;
  background-color: rgb(212, 212, 212);

  border-color: #f5deb300;
  transition: 0.5s;
}

button:hover{
  border-radius: 10pt;

  transform: scale(1.1);
  background-color: rgb(255, 255, 216);
}

#titulo{
  display: flex;
  gap: 10pt;
}

#titulo>p{
  margin-top: 15px;
  color: rgb(181, 181, 181);
}

#detal{
  color: rgb(162, 162, 162);

  font-size: medium;

  margin-top: 5pt;
}
