<section>
  <div>
    <h1 data-aos="fade-right" data-aos-duration="1000">Experiência</h1>
    <hr />
    <article data-aos="zoom-out-right" data-aos-duration="1500">
      <h3>2022</h3>

      <div id="obj">
        <div id="img">
          <img [src]="nagem" width="50px" />
          <h4>Estágio de Desenvolvedor no grupo Nagem</h4>
        </div>
        <p>1 ano de Experiência</p>
      </div>
    </article>

    <hr />
    <div id="obj">
      <h1 data-aos="fade-right" data-aos-duration="1000">Vivências</h1>
      <article data-aos="zoom-out-right" data-aos-duration="1500">
        <p>
          Tenho experiência de 1 ano com algumas linguagens de programação como:
          PHP, Laravel, Zend, JavaScript;

          <br />

          Conhecimento em linguagem de marcação: HTML, CSS; Práticas com as
          ferramentas de versionamento (como GIT, SVN, etc.); Conhecimento em
          bancos de dados como MySQL, SQL, SQLServer, DB2, etc.

          <br />

          Também tenho experiência de 1 ano com metodologia ágeis - Scrum,
          Kanban.

          <br />

          Tenho experiência de estudo e certificado nas linguagens de
          programação como: Angular, React, MongoDB;
        </p>
      </article>
    </div>
  </div>
</section>
